<section id="{{ section_selection.section.html_id }}" class="blog-details">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-5">

            <div class={% if is_sidebar_enabled %}"col-lg-8"{% endif %}>

                <article class="article">
                    {% if post.header_image and post.show_header_image %}
                    <div class="post-img">
                        <img src="{{ post.header_image.url }}" alt="..." class="img-fluid">
                    </div>
                    {% endif %}

                    <div class="d-flex justify-content-between">
                        {% if post.show_title %}
                        <h2 class="title">{{ post.title }}</h2>
                        {% endif %}

                        {% if user.id == post.author.id %}

                        <div id='comments-link' class="d-flex align-items-center">
                            <a href="{% url 'promociones:update_post' post.pk %}"><i class="bi bi-pencil"></i></a>
                            <a href="{% url 'promociones:delete_post' post.pk %}"><i class="bi bi-trash"> </i></a>
                        </div>
                        {% endif %}
                    </div>

                    {% if post.show_meta_top %}
                    <div class="meta-top">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i>
                                {% if post.author.profile %}
                                <a href="{% url 'members:show_profile' post.author.profile.id %}">
                                    {{ post.author.first_name }}
                                    {{ post.author.last_name }}
                                </a>
                                {% else %}
                                {{ post.author.first_name }}
                                {{ post.author.last_name }}
                                {% endif %}
                            </li>

                            <li class="d-flex align-items-center"><i class="bi bi-clock"></i>
                                <small>{{ post.post_date }}</small>
                            </li>

                            {% comment %}
                            <li id='comments-link' class="d-flex align-items-center"><i class="bi bi-chat-dots"></i>
                                <a href="#comments">
                                    {{ post.comments.count }} Comentarios
                                </a>
                            </li>

                            {% if user.is_authenticated %}
                            <li id='comments-link' class="d-flex align-items-center">
                                <form id="like-form" action="{% url 'promociones:like_post' post.pk %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" name="post_id" value="{{ post.id }}"
                                        class="btn btn-like {% if user in post.likes.all %} liked {% endif %} btn-sm">

                                        <i
                                            class="bi {% if user in post.likes.all %}bi-star-fill{% else %}bi-star{% endif %}"></i>
                                        <span id="like-count">{{ post.likes.count }}</span>

                                    </button>
                                </form>
                                <small>Likes</small>
                            </li>
                            {% else %}
                            <li class="d-flex align-items-center"><i class="bi bi-star"></i>
                                <a href="{% url 'login' %}">
                                    Login to like
                                </a>
                            </li>
                            {% endif %}
                            {% endcomment %}
                        </ul>
                    </div><!-- End meta top -->
                    {% endif %}

                    {% if post.show_description %}
                    <div class="content">
                        {{ post.body | safe }}
                    </div><!-- End post content -->
                    {% endif %}

                    {% if post.postcard.all and post.is_postcard_enabled %}
                    <div id="carouselPostCard" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">

                        <div class="carousel-indicators mt-3">
                            {% for postcard in post.postcard.all %}
                            <button type="button" data-bs-target="#carouselPostCard"
                                data-bs-slide-to="{{ forloop.counter0 }}"
                                class="button {% if forloop.first %}active{% endif %}"
                                aria-current="{% if forloop.first %}true{% endif %}"
                                aria-label="Slide {{ forloop.counter }}">
                            </button>
                            {% endfor %}
                        </div>

                        <div class="carousel-inner">
                            {% for postcard in post.postcard.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <div class="row gy-3 justify-content-center align-items-center p-3"
                                    style="background-color: {{ postcard.background_color }};">

                                    {% if postcard.show_title %}
                                    <h2 class="title">{{ postcard.title }}</h2>
                                    {% endif %}

                                    {% if postcard.header_image %}
                                    <div class="col-12 text-center">
                                        <img src="{{ postcard.header_image.url }}" class="d-block w-100" alt="...">
                                    </div>
                                    {% endif %}
                                    <div>
                                        {{ postcard.body | safe }}
                                    </div>

                                    <div class="row justify-content-center align-items-center p-3" data-aos="fade-up"
                                        data-aos-delay="300">

                                        {% if postcard.is_whatsapp_enabled %}
                                        <div class="col-12 text-center p-3">
                                            <a href="https://api.whatsapp.com/send?phone={{ postcard.whats_number }}&text={{ postcard.whats_message }}" data-aos="fade-up" data-aos-delay="300" class="whatsapp cta-btn" target="_blank">{{ postcard.whats_btn_text }} <i class="bi bi-whatsapp"></i>
                                            </a>
                                        </div>
                                        {% endif %}

                                        {% if postcard.show_metrics %}
                                        <div class="col-12 text-center">
                                            <i class="bi bi-clock"></i>
                                            <span>Válidez: {{ postcard.expiration_date }}</span>
                                        </div>
                                        <div class="col-12 text-center">
                                            <i class="bi bi-compass"></i>
                                            <span>Cantidad: {{ postcard.available_quantity }}</span>
                                        </div>
                                        {% endif %}

                                    </div>


                                    {% if postcard.show_meta_bottom %}
                                    <div class="meta-bottom">

                                        <i class="bi bi-folder"></i>
                                        <ul class="cats">
                                            {% for category in postcard.category.all %}
                                            <li>{{ category.name }}</li>
                                            {% endfor %}
                                        </ul>
                                        <i class="bi bi-tags"></i>
                                        <ul class="tags">
                                            {% for tag in postcard.tags.all %}
                                            <li>{{ tag.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div><!-- End meta bottom -->
                                    {% endif %}

                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselPostCard"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselPostCard"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>
                    {% endif %}


                    {% if post.show_meta_bottom %}
                    <div class="meta-bottom">
                        <i class="bi bi-folder"></i>
                        <ul class="cats">
                            {% for category in post.category2.all %}
                            <li><a href="#">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>

                        <i class="bi bi-tags"></i>
                        <ul class="tags">
                            {% for tag in post.tags.all %}
                            <li><a href="#">{{ tag.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div><!-- End meta bottom -->
                    {% endif %}

                </article><!-- End post article -->

                {% comment %}
                {% if post.author.profile %}
                <div class="blog-author d-flex align-items-center justify-content-start">


                    {% if post.author.profile.profile_pic %}
                    <a href="{% url 'members:show_profile' post.author.profile.id %}">
                        <img src="{{ post.author.profile.profile_pic.url }}" class="rounded-circle flex-shrink-0"
                            alt="...">
                    </a>
                    {% else %}
                    <div class="p-3">
                        <a href="{% url 'members:show_profile' post.author.profile.id %}">
                            <i class="bi bi-person" style="font-size: 2rem; color: gray;"></i>
                        </a>
                    </div>
                    {% endif %}
                    <div>
                        <a href="{% url 'members:show_profile' post.author.profile.id %}">
                            <h4>{{ post.author.first_name }} {{ post.author.last_name }}</h4>
                        </a>
                        <div class="social-links">
                            {% if post.author.profile.website_url %}
                            <a href="{{ post.author.profile.website_url }}" target="_blank"><i
                                    class="bi bi-browser-chrome"></i></a>
                            {% endif %}
                            {% if post.author.profile.facebook %}
                            <a href="{{ post.author.profile.facebook }}" target="_blank"><i
                                    class="bi bi-facebook"></i></a>
                            {% endif %}
                            {% if post.author.profile.instagram %}
                            <a href="{{ post.author.profile.instagram }}" target="_blank"><i
                                    class="biu bi-instagram"></i></a>
                            {% endif %}
                            {% if post.author.profile.linkedin %}
                            <a href="{{ post.author.profile.linkedin }}" target="_blank"><i
                                    class="biu bi-linkedin"></i></a>
                            {% endif %}
                        </div>
                        <p>
                            {{ post.author.profile.bio | slice:":100" | safe }}
                        </p>
                    </div>
                </div><!-- End post author -->
                {% endif %}
                {% endcomment %}

                {% comment %}
                <div id='comments' class="comments">
                    <h4 class="comments-count">{{ post.comments.count }} Comments</h4>

                    {% if user.is_authenticated %}
                    <a href="{% url 'promociones:add_comment' post.pk %}">Add Comment</a>
                    <br><br>
                    {% endif %}

                    {% if post.comments.all %}
                    {% for comment in post.comments.all %}
                    <div id="comment-{{ post.comments.id }}" class="comment">
                        <div class="d-flex">
                            <div class="comment-img"><img src="" alt="..."></div>
                            <div>
                                <h5><a href="">{{ comment.name }}</a> <a href="#" class="reply"><i
                                            class="bi bi-reply-fill"></i> Responder</a></h5>
                                <time datetime="2020-01-01">{{ comment.date_added }}</time>
                                <p>
                                    {{ comment.body }}
                                </p>
                            </div>
                        </div>
                    </div><!-- End comment #1 -->
                    {% endfor %}
                    {% endif %}

                    <div class="reply-form">

                        <h4>Leave a comment</h4>
                        <p>Your email address will not be published. Required fields are marked * </p>
                        <form action="">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input name="name" type="text" class="form-control" placeholder="Your Name*">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input name="email" type="text" class="form-control" placeholder="Your Email*">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <input name="website" type="text" class="form-control" placeholder="Your Website">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <textarea name="comment" class="form-control"
                                        placeholder="Your Comment*"></textarea>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Post Comment</button>
                            </div>

                        </form>

                    </div>

                </div><!-- End blog comments -->
                {% endcomment %}

            </div>

            <div class="col-lg-4">

                {% if is_sidebar_enabled %}
                <div class="sidebar">
                    <div class="sidebar-item recent-posts">

                        {% if promo_page_content %}
                        <a href="{% url 'promociones:home' %}">
                            <h3 class="sidebar-title">{{ promo_page_content.name }}</h3>
                        </a>
                        <p class="mt-3">{{ promo_page_content.description }}</p>
                        {% endif %}

                        {% if promo_posts.all %}
                        {% for recent_post in promo_posts %}

                        <div class="post-item">
                            {% if recent_post.header_image %}
                            <a href="{% url 'promociones:article-detail' recent_post.pk %}">
                                <img src="{{ recent_post.header_image.url }}" alt="..." class="flex-shrink-0">
                            </a>
                            {% endif %}

                            <div>
                                <h4><a href="{% url 'promociones:article-detail' recent_post.pk %}">
                                        {{ recent_post.title }}</a></h4>
                                <p class="post-date">{{ recent_post.post_date }}</p>
                            </div>
                        </div><!-- End recent post item-->

                        {% endfor %}
                        {% endif %}

                    </div><!-- End sidebar recent posts-->

                    {% comment %}
                    <div class="sidebar-item search-form">
                        <h3 class="sidebar-title">Search</h3>
                        <form action="" class="mt-3">
                            <input type="text">
                            <button type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div><!-- End sidebar search formn-->

                    <div class="sidebar-item categories">
                        <h3 class="sidebar-title">Categorías</h3>
                        <ul class="mt-3">
                            {% for category, count in category_counts.items %}
                            {% if count > 0 %}
                            <li><a href="#">{{ category }}<span>({{ count }})</span></a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div><!-- End sidebar categories-->

                    <div class="sidebar-item tags">
                        <h3 class="sidebar-title">Tags</h3>
                        <ul class="mt-3">
                            {% for tag in tags %}
                            <li><a href="#">{{ tag.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div><!-- End sidebar tags-->
                    {% endcomment %}

                </div><!-- End Sidebar -->
                {% endif %}

            </div>
        </div>
    </div>

    <style>
        /* Custom CSS for styling */
        #carouselPostCard {
            overflow: hidden;
            /* Hide overflow to prevent arrows from being cut off */
        }

        .carousel-indicators {
            top: 5px;
            height: 100px;
            /* Adjust top margin for positioning */
            text-align: center;
            /* Center the indicators */
        }

        .carousel-indicators .button {
            width: 10px;
            /* Set indicator circle width */
            height: 10px;
            /* Set indicator circle height */
            border-radius: 50%;
            /* Make indicator circle a circle */
            background-color: whitesmoke;
            /* Set indicator circle color */
            margin: 0 5px;
            /* Adjust margin between indicators */
            border: solid 1px gray;
        }

        .carousel-indicators .active {
            width: 12px;
            /* Set active indicator circle width */
            height: 12px;
            /* Set active indicator circle height */
            background-color: gray;
            /* Set active indicator circle color */
        }

        .carousel-control-prev,
        .carousel-control-next {
            background-color: gray;
            /* Set arrow background color to red */
            width: 50px;
            /* Set arrow width */
            height: 50px;
            /* Set arrow height */
            top: 50%;
            /* Position arrows vertically centered */
            transform: translateY(-50%);
            /* Adjust vertical positioning */
            border-radius: 50%;
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            border-radius: 50%;
            /* Create a circular arrow icon */
            background-color: gray;
        }

        .blog-details .cta-btn {
            font-family: var(--font-primary);
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 1px;
            display: inline-block;
            padding: 12px 40px;
            border-radius: 5px;
            transition: 0.5s;
            margin-top: 20px;
            border: 2px solid var(--color-inverse);
            color: var(--color-inverse);
        }

        .blog-details .cta-btn:hover {
            background: var(--color-primary);
            border: 2px solid var(--color-primary);
        }
    </style>



</section><!-- End Blog-details Section -->