{% load static %}

<!-- ======= Footer ======= -->
<footer id="footer" class="footer2">

  <div class="container">
    <div class="row gy-3">
      <div class="col-lg-3 col-md-6 d-flex">
        <i class="bi bi-geo-alt-fill icon"></i>
        <div>
          <h4>{{ footer.address_title }}</h4>
          {{ footer.address_description | safe }}
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links d-flex">
        {% if footer.is_contacto_description_enabled %}
        <i class="bi bi-whatsapp icon"></i>
        <div>
          <h4>{{ footer.contacto_title }}</h4>
          {{ footer.contacto_description | safe }}
        </div>
        {% endif %}

        {% if footer.is_whatsapp_enabled %}
        <div class="text-center">
          <a href="https://api.whatsapp.com/send?phone={{ footer.whats_number }}&text={{ footer.whats_message|urlencode }}"
            data-aos="fade-up" data-aos-delay="300" class="whatsapp cta-btn" target="_blank">{{ footer.whats_btn_text }}<br>
            <i class="bi bi-whatsapp"></i>
          </a>
        </div>
        {% endif %}

      </div>

      <div class="col-lg-3 col-md-6 footer-links d-flex">
        <i class="bi bi-clock icon"></i>
        <div>
          <h4>{{ footer.horario_title }}</h4>
          {{ footer.horario_description | safe }}
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>{{ footer.redes_title }}</h4>
        <div class="social-links d-flex">

          {% if footer.is_facebook_enabled %}
          <a href="{{ footer.facebook_url }}" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
          {% endif %}

          {% if footer.is_instagram_enabled %}
          <a href="{{ footer.instagram_url }}" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
          {% endif %}

          {% if footer.is_twitter_enabled %}
          <a href="{{ footer.twitter_url }}" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
          {% endif %}

          {% if footer.is_linkedin_enabled %}
          <a href="{{ footer.linkedin_url }}" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
          {% endif %}

        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="copyright">
      {{ footer.copyright | safe }}
    </div>
    <div class="credits">
      {{ footer.credits | safe }}
    </div>
  </div>


<style>
  .footer2 .cta-btn {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 0px;
    border: 1px solid var(--color-inverse);
    color: var(--color-inverse);
  }

  .footer2 .cta-btn i {
    font-size: 30px;
  }
  
  .footer2 .cta-btn:hover {
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
  }
</style>


</footer><!-- End Footer -->
<!-- End Footer -->