{% load static %}

<!-- ======= Footer ======= -->
<footer id="footer" class="footer2">

  <div class="container">
    <div class="row gy-3">
      <div class="col-lg-3 col-md-6 d-flex">
        <i class="bi bi-geo-alt-fill icon"></i>
        <div>
          <h4>Dirección</h4>
          <p>
            Otamendi 82 PBº2<br>
            Ciudad Autónoma de Buenos Aires, Argentina<br>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links d-flex">
        <i class="bi bi-whatsapp icon"></i>
        <div>
          <h4>Contáctanos</h4>
          <p>
            <strong>Whatsapp:</strong><br> +54 911 6865-3898<br>
            <strong>Email:</strong><br> respondiendo@flebella.com<br>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links d-flex">
        <i class="bi bi-clock icon"></i>
        <div>
          <h4>Horarios</h4>
          <p><strong>Lunes, Viernes</strong><br> 10.00 - 19.00<br>
          <strong>Martes, Jueves</strong><br> 11.00 - 20.00<br>
          <strong>Miércoles</strong><br> 12.00 - 20.00</p><br>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Seguinos</h4>
        <div class="social-links d-flex">
          <!-- <a href="#" class="twitter"><i class="bi bi-twitter"></i></a> -->
          <a href="https://www.facebook.com/Flebella/" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/flebella/" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Flebella Medicina Estética</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://ingenios.com.ar/">InGenios</a> and
      <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>

</footer><!-- End Footer -->
<!-- End Footer -->