{% load static %}

<head>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MKH7NFR2');</script>
    <!-- End Google Tag Manager -->


  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- HTML Meta Tags -->
  <meta name="description"
    content="Consultorio Boutique en Medicina Estética, liderado por la Dra. Paola Policichio, ubicado en Caballito, Buenos Aires">
  <meta name="keywords" content="medicina estética, estética, tratamientos faciales, tratamientos corporales, belleza natural, estetica facial, estetica corporal, rejuvenecimiento facial, toxina botulínica, relleno faciel, fotorejuvenecimiento, liposucción tripolar, cuidado de la piel, bienestar, confianza, flebella, buenos aires, dermatología, belleza duradera, tratamiento estético, especialistas en estética, consejos de belleza, expertos en cuidado de la piel, estética única">

  <!-- Open Graph Meta Tags for WhatsApp -->
  <meta property="og:title" content="Flebella">
  <meta property="og:description"
    content="Consultorio Boutique en Medicina Estética, liderado por la Dra. Paola Policichio, ubicado en Caballito, Buenos Aires">
  <meta property="og:image" content="{% static 'flebi/img/logo_flebella.png' %}">

  <!-- Fallback for other social media platforms -->
  <meta property="og:url" content="https://flebiland.flebella.com/">
  <meta property="og:type" content="website">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="flebiland.flebella.com">
  <meta property="twitter:url" content="https://flebiland.flebella.com/">
  <meta name="twitter:title" content="Flebella">
  <meta name="twitter:description"
    content="Consultorio Boutique en Medicina Estética, liderado por la Dra. Paola Policichio, ubicado en Caballito, Buenos Aires">
  <meta name="twitter:image" content="{% static 'flebi/img/logo_flebella.png' %}">

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->

  <!-- Favicons -->
  <link href="{% static 'flebi/img/logo_flebella.png' %}" rel="icon">

  <!-- Fonts -->
  <!-- Link to the specified fonts from Google Fonts -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Montserrat:wght@400;700&family=Lato:wght@400;700&family=Inter:wght@400;700&family=Amatic+SC&display=swap">


  <!-- Vendor CSS Files -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="../../static/flebi/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/flebi/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../../static/flebi/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <!-- <link rel="stylesheet" href="{% static 'flebi/styles.css' %}"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'flebi/css/main.css' %}">


  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CZ95C40KCT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-CZ95C40KCT');
  </script>

</head>