{% extends 'flebi/base.html' %}
{% block title %}{{ post.title_tag }}{% endblock %}

{% block body_class %}
class="blog-details-page" data-bs-spy="scroll" data-bs-target="#navmenu"
{% endblock %}

{% block main %}

<main id="main">

    <div class="top-space" style="height: 100px;"></div>

    {% if sections %}
    {% for section_selection in sections %}
    {% include section_selection.section.section_path %}
    {% endfor %}
    {% endif %}

</main>

{% endblock %}


{% block jquery_content %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>

function decreaseQuantity(postcardId) {
        // Send AJAX request to decrease available quantity
        $.ajax({
            type: "POST",
            url: "{% url 'promociones:decrease_quantity' %}",
            data: {
                'postcard_id': postcardId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
            // Update the displayed quantity based on the response from the server
            // For example, if the response contains the updated quantity, update the DOM element accordingly
            var updatedQuantity = response.quantity; // Assuming the response contains the updated quantity
            $('#quantity_display_' + postcardId).text(updatedQuantity); // Update the quantity display element
            },
            error: function(xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText); // log any errors to the console
            }
        });
    }


{% comment %}
    $(document).ready(function () {
        // Handle like button click using jQuery
        $('#like-form').submit(function (event) {
            event.preventDefault();

            // Extract post_id from the form
            var post_id = $(this).find('[name="post_id"]').val();

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: {
                    'post_id': post_id,
                    'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
                },
                success: function (data) {
                    // Update like count and button appearance
                    $('#like-count').text(data.likes_count);
                    $('.btn-like').toggleClass('liked');
                    $('.btn-like i').toggleClass('bi-star bi-star-fill');
                }
            });
        });

        // Scroll to comments section when comments link is clicked
        $('#comments-link').click(function (event) {
            event.preventDefault(); // Prevent the default behavior of the link
            var targetElement = $('#comments');

            // Calculate the target position with an additional 100px offset
            var targetPosition = targetElement.offset().top - 100;

            // Use smooth scrolling
            $('html, body').animate({
                scrollTop: targetPosition
            }, 1000);
        });
                
{% endcomment %}

</script>
{% endblock %}
