{% extends 'flebi/base.html' %}
{% block title %}{{ post.title_tag }}{% endblock %}

{% block body_class %}
    class="blog-details-page" data-bs-spy="scroll" data-bs-target="#navmenu"
{% endblock %}

{% block main %}

<main id="main">

<div class="top-space" style="height: 100px;"></div>
    
{% if sections %}
    {% for section_selection in sections %}
        {% include section_selection.section.section_path %}
    {% endfor %}
{% endif %}

</main>

{% endblock %}


{% block jquery_content %}
{% comment %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        // Handle like button click using jQuery
        $('#like-form').submit(function (event) {
            event.preventDefault();

            // Extract post_id from the form
            var post_id = $(this).find('[name="post_id"]').val();

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: {
                    'post_id': post_id,
                    'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
                },
                success: function (data) {
                    // Update like count and button appearance
                    $('#like-count').text(data.likes_count);
                    $('.btn-like').toggleClass('liked');
                    $('.btn-like i').toggleClass('bi-star bi-star-fill');
                }
            });
        });
    });
</script>

<script>
    document.getElementById('comments-link').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default behavior of the link
        var targetElement = document.getElementById('comments');

        // Calculate the target position with an additional 100px offset
        var targetPosition = targetElement.offsetTop - 100;

        // Use smooth scrolling
        window.scrollTo({
            top: targetPosition,
            behavior: 'smooth'
        });
    });
</script>
{% endcomment %}

{% endblock %}

